<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="vi">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="shortcut icon" th:href="@{/user/img/fav.png}">
    <meta charset="UTF-8">
    <title>Karma Shop</title>

    <link rel="stylesheet" th:href="@{/user/css/linearicons.css}">
    <link rel="stylesheet" th:href="@{/user/css/owl.carousel.css}">
    <link rel="stylesheet" th:href="@{/user/css/themify-icons.css}">
    <link rel="stylesheet" th:href="@{/user/css/font-awesome.min.css}">
    <link rel="stylesheet" th:href="@{/user/css/nice-select.css}">
    <link rel="stylesheet" th:href="@{/user/css/nouislider.min.css}">
    <link rel="stylesheet" th:href="@{/user/css/bootstrap.css}">
    <link rel="stylesheet" th:href="@{/user/css/main.css}">

</head>
<body>

<div th:replace="/user/fragment/header :: header"></div>

<section class="login_box_area section_gap">
    <div class="container">
        <div class="row">
            <div class="col-lg-6">
                <div class="login_form_inner">
                    <h3 class="pt-5">Change password</h3>
                    <form class="row login_form" th:action="@{/change-password}" th:object="${changePasswordRequest}" method="post" id="changePasswordForm"
                          novalidate="novalidate">
                        <div class="col-md-12 form-group position-relative">
                            <input type="password" class="form-control" id="oldPassword" th:field="*{oldPassword}"
                                   placeholder="Old password"
                                   onfocus="this.placeholder = ''" onblur="this.placeholder = 'Old password'">
                            <span class="toggle-password" toggle="#oldPassword">
                                <i class="fa fa-eye"></i>
                            </span>
                            <p class="form-text text-danger small mt-1 mb-0 text-left"
                               th:if="${#fields.hasErrors('oldPassword')}">
                                <i class="fa fa-exclamation-circle mr-1"></i>
                                <span th:errors="*{oldPassword}"></span>
                            </p>
                        </div>

                        <div class="col-md-12 form-group position-relative">
                            <input type="password" class="form-control" id="newPassword" th:field="*{newPassword}"
                                   placeholder="New password"
                                   onfocus="this.placeholder = ''" onblur="this.placeholder = 'New password'">
                            <span class="toggle-password" toggle="#newPassword">
                                <i class="fa fa-eye"></i>
                            </span>
                            <p class="form-text text-danger small mt-1 mb-0 text-left"
                               th:if="${#fields.hasErrors('newPassword')}">
                                <i class="fa fa-exclamation-circle mr-1"></i>
                                <span th:errors="*{newPassword}"></span>
                            </p>
                        </div>

                        <div class="col-md-12 form-group position-relative">
                            <input type="password" class="form-control" id="confirmNewPassword"
                                   th:field="*{confirmNewPassword}"
                                   placeholder="Confirm new password"
                                   onfocus="this.placeholder = ''" onblur="this.placeholder = 'Confirm new password'">
                            <span class="toggle-password" toggle="#confirmNewPassword">
                                <i class="fa fa-eye"></i>
                            </span>
                            <p class="form-text text-danger small mt-1 mb-0 text-left"
                               th:if="${#fields.hasErrors('confirmNewPassword')}">
                                <i class="fa fa-exclamation-circle mr-1"></i>
                                <span th:errors="*{confirmNewPassword}"></span>
                            </p>
                        </div>
                        <p class="form-text text-danger small mt-1 mb-0 text-left"
                           th:if="${#fields.hasErrors('confirmNewPassword')}">
                            <i class="fa fa-exclamation-circle mr-1"></i>
                            <span th:errors="*{confirmNewPassword}"></span>
                        </p>
                        <div class="col-md-12 form-group">
                            <button type="submit" class="primary-btn">Change password</button>
                        </div>
                    </form>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="login_box_img">
                    <img class="img-fluid" th:src="@{/user/img/login.jpg}" alt="">
                    <div class="hover">
                        <h4>You already have an account?</h4>
                        <a class="primary-btn" th:href="@{/}">Go to Home</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<div th:replace="/user/fragment/footer :: footer"></div>
<script>
    document.querySelectorAll(".toggle-password").forEach(function (el) {
        el.addEventListener("click", function () {
            const input = document.querySelector(this.getAttribute("toggle"));
            const icon = this.querySelector("i");
            const type = input.getAttribute("type") === "password" ? "text" : "password";
            input.setAttribute("type", type);
            icon.classList.toggle("fa-eye");
            icon.classList.toggle("fa-eye-slash");
        });
    });
</script>

<script th:src="@{/user/js/vendor/jquery-2.2.4.min.js}"></script>
<script th:src="@{/user/js/vendor/bootstrap.min.js}"></script>
<script th:src="@{/user/js/jquery.ajaxchimp.min.js}"></script>
<script th:src="@{/user/js/jquery.nice-select.min.js}"></script>
<script th:src="@{/user/js/jquery.sticky.js}"></script>
<script th:src="@{/user/js/nouislider.min.js}"></script>
<script th:src="@{/user/js/jquery.magnific-popup.min.js}"></script>
<script th:src="@{/user/js/owl.carousel.min.js}"></script>
<script th:src="@{/user/js/gmaps.min.js}"></script>
<script th:src="@{/user/js/main.js}"></script>
</body>
</html>
