<div th:fragment="header">
    <header class="header_area sticky-header">
        <div class="main_menu">
            <nav class="navbar navbar-expand-lg navbar-light main_box">
                <div class="container">
                    <a class="navbar-brand logo_h" th:href="@{/}">
                        <img th:src="@{/user/img/logo.png}" alt="">
                    </a>
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent">
                        <span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span>
                    </button>

                    <div class="collapse navbar-collapse offset" id="navbarSupportedContent">
                        <!-- MENU CENTER -->
                        <ul class="nav navbar-nav mx-auto">
                            <li class="nav-item"><a class="nav-link" th:href="@{/}">Home</a></li>
                            <li class="nav-item submenu dropdown">
                                <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown">Shop</a>
                                <ul class="dropdown-menu">
                                    <li class="nav-item"><a class="nav-link" th:href="@{/category}">Shop Category</a></li>
                                    <li class="nav-item"><a class="nav-link" th:href="@{/product-details}">Product Details</a></li>
                                    <li class="nav-item"><a class="nav-link" th:href="@{/checkout}">Checkout</a></li>
                                    <li class="nav-item"><a class="nav-link" th:href="@{/cart}">Cart</a></li>
                                    <li class="nav-item"><a class="nav-link" th:href="@{/confirmation}">Confirmation</a></li>
                                </ul>
                            </li>
                            <li class="nav-item submenu dropdown">
                                <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown">Blog</a>
                                <ul class="dropdown-menu">
                                    <li class="nav-item"><a class="nav-link" th:href="@{/blog}">Blog</a></li>
                                    <li class="nav-item"><a class="nav-link" th:href="@{/blog-details}">Blog Details</a></li>
                                </ul>
                            </li>
                            <li class="nav-item"><a class="nav-link" th:href="@{/contact}">Contact</a></li>
                            <li class="nav-item"><a th:href="@{/cart}" class="cart nav-link"><span class="ti-bag"></span></a></li>
                        </ul>

                        <!-- RIGHT SIDE (Login, Register, Cart, Search) -->
                        <ul class="nav navbar-nav ml-auto d-flex align-items-center">
                            <li class="nav-item"><a class="nav-link" th:href="@{/login}">Login</a></li>
                            <li class="nav-item"><a class="nav-link" th:href="@{/register}">Register</a></li>
                        </ul>
                    </div>
                </div>
            </nav>
        </div>

        <!-- Search Box -->
        <div class="search_input" id="search_input_box">
            <div class="container">
                <form class="d-flex justify-content-between">
                    <input type="text" class="form-control" id="search_input" placeholder="Search Here">
                    <button type="submit" class="btn"></button>
                    <span class="lnr lnr-cross" id="close_search" title="Close Search"></span>
                </form>
            </div>
        </div>
    </header>
</div>
