<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="vi">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Karma Shop - Đăng nhập</title>

    <link rel="shortcut icon" th:href="@{/user/img/fav.png}">
    <link rel="stylesheet" th:href="@{/user/css/linearicons.css}">
    <link rel="stylesheet" th:href="@{/user/css/owl.carousel.css}">
    <link rel="stylesheet" th:href="@{/user/css/themify-icons.css}">
    <link rel="stylesheet" th:href="@{/user/css/font-awesome.min.css}">
    <link rel="stylesheet" th:href="@{/user/css/nice-select.css}">
    <link rel="stylesheet" th:href="@{/user/css/nouislider.min.css}">
    <link rel="stylesheet" th:href="@{/user/css/bootstrap.css}">
    <link rel="stylesheet" th:href="@{/user/css/main.css}">
</head>

<body>
<!-- Header -->
<div th:replace="/user/fragment/header :: header"></div>

<!-- Login Section -->
<section class="login_box_area section_gap">
    <div class="container">
        <div class="row">
            <!-- Image Side -->
            <div class="col-lg-6">
                <div class="login_box_img">
                    <img class="img-fluid" th:src="@{/user/img/login.jpg}" alt="Login image">
                    <div class="hover">
                        <h4>New to our website?</h4>
                        <a class="primary-btn" th:href="@{/register}">Create an Account</a>
                    </div>
                </div>
            </div>

            <!-- Form Side -->
            <div class="col-lg-6">
                <div class="login_form_inner">
                    <h3>Log in</h3>

                    <div class="col-md-12">
                        <div th:if="${param.error}" class="alert alert-danger alert-dismissible fade show" role="alert">
                            <strong>Login failed!</strong> Wrong Email or Password.
                            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>

                        <div th:if="${param.logout}" class="alert alert-success alert-dismissible fade show"
                             role="alert">
                            <strong>Logout successful!</strong> See you later.
                            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                    </div>


                    <!-- Form -->
                    <form class="row login_form" th:action="@{/login}" method="post" id="loginForm"
                          novalidate="novalidate">
                        <div class="col-md-12 form-group">
                            <input type="text" class="form-control" name="username" placeholder="Email"
                                   required onfocus="this.placeholder = ''" onblur="this.placeholder = 'Email'">
                        </div>

                        <div class="col-md-12 form-group">
                            <input type="password" id="password" class="form-control" name="password" placeholder="Password"
                                   required onfocus="this.placeholder = ''" onblur="this.placeholder = 'Password'">
                            <span class="toggle-password" toggle="#password">
                                <i class="fa fa-eye"></i>
                            </span>
                        </div>

                        <div class="col-md-12 form-group">
                            <div class="creat_account">
                                <input type="checkbox" id="remember-me" name="remember-me">
                                <label for="remember-me">Remember me</label>
                            </div>
                        </div>

                        <div class="col-md-12 form-group">
                            <button type="submit" class="primary-btn">Log in</button>
                            <a th:href="@{/forgot-password}" class="ml-3">Forgot password?</a>
                            <a th:href="@{/verify-account}" class="ml-3">Verify your account</a>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- Footer -->
<div th:replace="/user/fragment/footer :: footer"></div>
<script>
    document.querySelectorAll(".toggle-password").forEach(function (el) {
        el.addEventListener("click", function () {
            const input = document.querySelector(this.getAttribute("toggle"));
            const icon = this.querySelector("i");
            const type = input.getAttribute("type") === "password" ? "text" : "password";
            input.setAttribute("type", type);
            icon.classList.toggle("fa-eye");
            icon.classList.toggle("fa-eye-slash");
        });
    });
</script>
<!-- JS Scripts -->
<script th:src="@{/user/js/vendor/jquery-2.2.4.min.js}"></script>
<script th:src="@{/user/js/vendor/bootstrap.min.js}"></script>
<script th:src="@{/user/js/jquery.ajaxchimp.min.js}"></script>
<script th:src="@{/user/js/jquery.nice-select.min.js}"></script>
<script th:src="@{/user/js/jquery.sticky.js}"></script>
<script th:src="@{/user/js/nouislider.min.js}"></script>
<script th:src="@{/user/js/jquery.magnific-popup.min.js}"></script>
<script th:src="@{/user/js/owl.carousel.min.js}"></script>
<script th:src="@{/user/js/gmaps.min.js}"></script>
<script th:src="@{/user/js/main.js}"></script>
</body>
</html>
